.store {
    h1 {
        margin: 0;
        padding-bottom: 0.5em;
        font: 150% sans-serif;
        color: #fdab09;
    }
    .entry {
        overflow: auto;
        margin-top: 1em;
        border-bottom: 1px dotted #77d;
        min-height: 150px;
        img {
            width: 120px;
            margin-right: 5px;
            margin-bottom: 5px;
            position: absolute;
        }
        h3{
            margin-left: 140px;
        }
        p, .price_line {
            margin-left: 140px;
            margin-top: 0.5em;
            margin-bottom: 0.8em;
        }
        .price{
            color: #fc0362;
            font-size: 20px;
            font-weight: bold;
        }
        form,div {
            display: inline;
        }
    }
}